<h1 id="title">Top Do-Donts</h1>
<ul id="dodont_list">
<% @dodonts.each do |dodont| %>
  <p><i class="fa fa-camera-retro"></i></p><li class="dodont_element effect"><%= dodont.content.html_safe %></li>
<% end %>
</ul>

