body {
  background-color: #fff;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
}

.image {
  width: 400px;
}

.video {
  width: 400px;
  height: 225px;
}

#title {
  text-align: center;
  color: #334199;
}

#dodont_list {
  list-style: none;
  margin: 0 auto;
  padding-left: 5px;
  width: 90%;
}

.voting {
  /*display: inline-block;*/
  float: left;
  /*background: green;*/
  margin-right: 20px;
  cursor: pointer;
}

.voting i {
  font-size: 2em;
  padding: 5px 0px;
}

.fa-thumbs-o-up:hover {
  border-radius: 20px;
  box-shadow: inset 0 0 10px #00ff00;
}

.fa-thumbs-o-down:hover {
  border-radius: 20px;
  box-shadow: inset 0 0 10px #ff0000;
}

.dodont_element {
  clear: both;
  margin: 30px 5px;
  padding: 30px;
  border-radius: 15px;
  /*background-color: rgba(51, 65, 153,0.7);*/
}


.effect {
  max-width: 80%;
  /*display: inline-block;*/
  position: relative;
  float: left;
  min-width: 80%;
  min-height: 80px;
  padding: 10px 10px 5px 10px ;
}
.effect:before, .effect:after {
  content: "";
  position: absolute;
}
.effect:before {
  border-radius: 10px;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  background-image: -webkit-gradient(radial, left top, 10, 90% 0%, 150, from(#E2FAFF), to(transparent));
  background-image: -webkit-radial-gradient(left top, 350px 70px, #E2FAFF, transparent);

  z-index: -2;
}
.effect:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  border-radius: 20px;
  z-index: -1;
}
