<!DOCTYPE html>
<html>
<head>
  <title>DoOrDontButDo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style>
    body {
      /*http://www.colorschemer.com/online.html*/
      text-align: center;
      background: #3380CC;
    }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Permanent+Marker:400" rel="stylesheet" type="text/css">
</head>
<body>

<%= yield %>

</body>
</html>
